{% load static %}


  <!-- footer section -->
  <section class="footer">
	<div class="box-container m-5 border-1 px-5">
		<div class="box">
			<h3><i class=""></i> Social Links</h3>
			<p>Connect with me on social media to explore my projects, professional journey, and personal interests.

</p>

			<div class="share">
				<a href="https://www.facebook.com/profile.php?id=100053213884410" target="_blank" class="fa-brands fa-square-facebook"></a>
				<a href="https://www.instagram.com/_biswa_jit_dey/?hl=en" target="_blank" class="fa-brands fa-instagram"></a>
				<a href="https://github.com/biswajit862002" target="_blank" class="fa-brands fa-github"></a>
				<a href="https://www.linkedin.com/in/biswajit-dey-634878239/" target="_blank" class="fa-brands fa-linkedin"></a>
			</div>
		</div>


		<div class="box">
			<h3>Contact Info</h3>
			<a href="#" class="links"> <i class="fa-solid fa-phone"></i> +91 9832857859</a>
			<a href="#" class="links" style="text-transform: none;"> <i class="fa-solid fa-envelope"></i> bdey862002@gmail.com</a>
			<a href="#" class="links"> <i class="fa-solid fa-location-dot"></i>Jhargram, Paschim Medinipur,  West-Bengal - 721517</a>
	
		</div>


		<div class="box">
			<h3>Quick Links</h3>
			<a href="{% url "home" %}" class="links"> <i class="fa-solid fa-arrow-right"></i>Home</a>
			<a href="{% url "resume" %}" class="links"> <i class="fa-solid fa-arrow-right"></i>Resume</a>
			<a href="{% url "skills" %}" class="links"> <i class="fa-solid fa-arrow-right"></i>Skills</a>
			<a href="{% url "projects" %}" class="links"> <i class="fa-solid fa-arrow-right"></i>Projects</a>
			<a href="{% url "social" %}" class="links"> <i class="fa-solid fa-arrow-right"></i>Social Links</a>
			<a href="{% url "certifications" %}" class="links"> <i class="fa-solid fa-arrow-right"></i>Certifications</a>
			<a href="{% url "blogs" %}" class="links"> <i class="fa-solid fa-arrow-right"></i>Blogs</a>
			<a href="{% url "contact" %}" class="links"> <i class="fa-solid fa-arrow-right"></i> Contact</a>
			
	
		</div>


		<div class="box">
			<h3>Directions</h3>

		

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56847.58609642627!2d86.95928528966567!3d22.45118482180713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1d7bcae512b101%3A0xd6cf20a23cf93fab!2sJhargram%2C%20West%20Bengal!5e1!3m2!1sen!2sin!4v1735506675156!5m2!1sen!2sin"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>

		</div>
	</div>


<div class="credit text-center pb-4">
	<div class="d-inline">
    Designed and Developed By <span><strong>Biswajit Dey</strong></span> | <strong><i class="fa-solid fa-copyright"></i> {% now "Y" %}</i></strong> All rights reserved.
  </div>
</div>



</section>
<!-- footer section -->
