{% extends 'core/base.html' %}

{% block title %}Social Links{% endblock title %}

{% block content %} 
<div class="container mt-5">
 <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>

 <div class="row text-center text-white mb-5">

  <div class="col-sm-4">
   <i class="fa-brands fa-facebook fa-2x mb-3 i-color"></i>
   <h3>Facebook</h3>
   <p class="ss-color">Connect with me personally and stay updated on my latest activities and interests.</p>
   <a href="https://www.facebook.com/profile.php?id=100053213884410" target="_blank"><button type="button" class="btn btn-outline-warning mb-5">Connect Me</button></a>
  </div>
  <div class="col-sm-4">
    <i class="fa-brands fa-instagram fa-2x mb-3 i-color"></i>
   <h3>Instagram</h3>
   <p class="ss-color">Follow me for a glimpse into my creative side and personal moments.</p>
   <a href="https://www.instagram.com/_biswa_jit_dey/?hl=en" target="_blank"><button type="button" class="btn btn-outline-warning mb-5">Follow Me</button></a>
  </div>
  <div class="col-sm-4">
   <i class="fa-brands fa-github fa-2x mb-3 i-color"></i>
   <h3>GitHub</h3>
   <p class="ss-color">Explore my coding projects, open-source contributions, and development journey.</p>
   <a href="https://github.com/biswajit862002" target="_blank" ><button type="button" class="btn btn-outline-warning mb-5">Check My Account</button></a>
  </div>
 </div>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <i class="fa-brands fa-square-linkedin fa-2x mb-3 i-color"></i>
   <h3>Linkedin</h3>
   <p class="ss-color">View my professional profile, skills, and achievements, and connect for collaboration.</p>
   <a href="https://www.linkedin.com/in/biswajit-dey-634878239/" target="_blank"><button type="button" class="btn btn-outline-warning mb-5">Check My Profile</button></a>
  </div>
  <div class="col-sm-4">
 <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
   <h3>Leetcode</h3>
   <p class="ss-color">Explore my coding journey and problem-solving skills on LeetCode.</p>
   <a href="https://leetcode.com/u/Oe2N5KCNLX/" target="_blank"><button type="button" class="btn btn-outline-warning mb-5">View My Leetcode Profile</button></a>
  </div>
  <div class="col-sm-4">
    <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
   <h3>GFG</h3>
   <p class="ss-color">Check out my practice and contributions on GeeksforGeeks to see how I strengthen my core concepts.</p>
   <a href="https://www.geeksforgeeks.org/user/bdey866jsq/" target="_blank"><button type="button" class="btn btn-outline-warning mb-5">Visit My GFG Profile</button></a>
  </div>
 </div>

 

 


</div>
{% endblock content %}

{% block footer %}
{% include "core/footer.html" %}
{% endblock footer %}